#
# HASviolet.service
#
#
# DESCRIPTION
#
#     This is a systemd service that runs HASviolet-service.py on Pi startup.
#
#
# INSTALLATION
#
#     sudo cp /home/pi/hasviolet/HASviolet.service /lib/systemd/system/HASviolet.service
#     sudo chown root:root /lib/systemd/system/HASviolet.service
#     sudo chmode 644 /lib/systemd/system/HASviolet.service
#     sudo systemctl daemon-reload
#     sudo systemctl enable HASviolet.service
#     sudo sync
#     sudo reboot
#
# WHEN LOGGING IN VIA shell
#
#     You will need to stop the service to use HASviolet interactively during your session.
#     This can be done by executing the following:
#
#            sudo systemctl stop HASviolet.service
#
#     Service will start again on reboot.
#
# TO DISABLE THE SERVICE
#
#     sudo systemctl stop HASviolet.service
#     sudo systemctl disable HASviolet.service
#
# TO RE-ENABLE THE SERVICE
#
#     sudo systemctl daemon-reload
#     sudo systemctl enable HASviolet.service
#     sudo sync
#     sudo reboot
#


##
## INIT VARIABLES 
##

# HASviolet Working directory
# /home/pi/DEVviolet


##
## SCRIPT
##

[Unit]
Description=HASviolet Service
After=multi-user.target

[Service]
PIDFile=/run/HASviolet-service.pid
WorkingDirectory=/home/pi/HASviolet
ExecStart=/home/pi/HASviolet/HASviolet-handheld.py
ExecStop=-/sbin/start-stop-daemon --quiet --stop --retry QUIT/5 --pidfile /run/HASviolet-service.pid
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
