#
# HASviolet-websox.service 
#
#   REVISION: 20210312-1400
#
# DESCRIPTION
#
#     This is a systemd service file used for HASviolet_websox.py on startup.
#
#
# STOP THE SERVICE
#
#     ./HASviolet_websox.sh stop
#
# START THE SERVICE
#
#     ./HASviolet_websox.sh start
#
# REMOVE THE SERVICE
#
#     ./HASviolet_websox.sh remove
#


##
## INIT VARIABLES 
##

##hasviolet_server=/home/pi/hasviolet/server


##
## SCRIPT
##

[Unit]
Description=HASviolet_Websox Server
After=multi-user.target

[Service]
User=pi
PIDFile=/run/HASviolet_websox.pid
WorkingDirectory=/home/pi/hasviolet
ExecStart=/home/pi/hasviolet/HASviolet_websox.py
ExecStop=-/sbin/start-stop-daemon --quiet --stop --retry QUIT/5 --pidfile /run/HASviolet_websox.pid
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target