#
# HASviolet-websox.service 
#
#   REVISION: 20220127-0900
#

##
## INIT VARIABLES AND DIRECTORIES
##

HVDN_HOME=$HOME/hvdn
HVDN_ETC=$HVDN_HOME/etc
HASVIOLET_REPO="https://github.com/hudsonvalleydigitalnetwork/hasviolet.git"
HASVIOLET_HOME=$HVDN_HOME/hasviolet
HASVIOLET_CONFIG=$HVDN_ETC/hasviolet.json
HASVIOLET_SSL_KEY=$HVDN_ETC/hasVIOLET.key
HASVIOLET_SSL_crt=$HVDN_ETC/hasVIOLET.crt
HVDN_BANNER_COLOR="\e[0;104m\e[K"   # blue
HVDN_BANNER_RESET="\e[0m"


##
## SCRIPT
##

[Unit]
Description=HASviolet_Websox Server
After=multi-user.target

[Service]
User=pi
PIDFile=/run/HASviolet_websox.pid
WorkingDirectory=/home/pi/hvdn/hasviolet
ExecStart=/home/pi/hvdn/hasviolet/HASviolet_websox.py
ExecStop=-/sbin/start-stop-daemon --quiet --stop --retry QUIT/5 --pidfile /run/HASviolet_websox.pid
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target