#
# HASviolet.service
#
#
# DESCRIPTION
#
#     This is a systemd service that runs HASviolet-duckhun.py on Pi startup.
#     Left button runs beacon, Middle button quits beacon
#     Right button is RX mode. Unfortunately only way to exit RX mode is to 
#     power off the Pi/
#
#
# INSTALLATION
#
#     sudo cp /home/pi/hasviolet/HASviolet-headless.service /lib/systemd/system/HASviolet-headless.service
#     sudo chown root:root /lib/systemd/system/HASviolet-headless.service
#     sudo chmode 644 /lib/systemd/system/HASviolet-headless.service
#     sudo systemctl daemon-reload
#     sudo systemctl enable HASviolet-headless.service
#     sudo sync
#     sudo reboot
#
# WHEN LOGGING IN VIA shell
#
#     You will need to stop the service to use HASviolet interactively during your session.
#     This can be done by executing the following:
#
#            sudo systemctl stop HASviolet.service
#
#     Service will start again on reboot.
#
# TO DISABLE THE SERVICE
#
#     sudo systemctl stop HASviolet.service
#     sudo systemctl disable HASviolet.service
#
# TO RE-ENABLE THE SERVICE
#
#     sudo systemctl daemon-reload
#     sudo systemctl enable HASviolet.service
#     sudo sync
#     sudo reboot
#
# =======================
# SCRIPT
# =======================
#
[Unit]
Description=HASviolet in headless mode
After=multi-user.target

[Service]
Type=idle
PIDFile=/run/HASviolet-service.pid
WorkingDirectory=/home/pi/hasviolet
ExecStart=/home/pi/hasviolet/HASviolet-duckhunt.py
ExecStop=-/sbin/start-stop-daemon --quiet --stop --retry QUIT/5 --pidfile /run/HASviolet-service.pid
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
